<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Calculate Square Perimeter</h1>
    <form action="/square/calculate" method="POST">
        <label for="length">Length:</label>
        <input type="number" id="length" name="length" required>
        <button type="submit">Calculate</button>
    </form>

    <% if (perimeter) { %>
        <h2>Perimeter: <%= perimeter %>
        </h2>
        <h2>Area: <%= area %>
        </h2>
    <% } %>
</body>

</html>